
<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%# @post is accessed from new action of posts controller %> 
<div class= 'padding-10'>
  <%= form_for @post do |f| %> 
    <div class='form-group'>
      <%= f.label :title %>
      </br>
      <%= f.text_area(
        :title,
        cols:70
       )%> 
    </div>
    <div class='form-group'>
      <%= f.label :body %>
      </br>
      <%= f.text_area(
        :body,
        cols: 70
        )%>
    </div>
    <%= f.submit "Post",class: "btn btn-primary" %>
  <% end %>

</div>
